.me-auto {
    margin-left:auto !important;
    margin-right: 0px !important;
}
a.nav-link{
    margin:12px 10px !important;
}
.sticky-menu{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 5;
}
.give-head-marg-top{
    margin-top:150px;
}
.marg-top-150{
    margin-top:150px;
}
.marg-top-100{
    margin-top: 60px;
}
.marg-top-50{
    margin-top:50px;
}
a.nav-link{
    color:#0C0D0E;
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin:22px 10px;
}
a.nav-link:hover{
    color:#0C0D0E;
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    border-bottom: 1px solid #E9EFEE;
}
.padd-left-right{
    padding:0px 30px;
}
a.navbar-brand{
    color:#0C0D0E;
    font-family:"Helvetica";
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.pixi-home-head-black{
    color:#0C0D0E;
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
}
.pixi-home-para-black-cent{
    color:#0C0D0E;
    font-family:"Helvetica";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.pixi-button{
    background-color: #0C0D0E;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    font-family:"Helvetica" ;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 20px;
    /* transform: translate(155%); */
    margin-top: 30px;
    margin: 40px auto;
  display: block;
}
.text-dec{
    text-decoration: none;
    color:#FFFFFF;
}
.text-dec:hover{
    text-decoration: none;
    color:#FFFFFF !important;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.bg-for-header{
    background-image: url(../images/headerbg.png);
    background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.bg-color-header{
    background-color:white !important;
}
.slider-set{
    margin-top:30px;
}
@media screen and (max-width:1000px) {
    .flex-col{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:-20px;
    }
    .head-icon{
        width: 20px;
        margin: 0px 10px;
    }
    .pixi-home-head-black{
        color:#0C0D0E;
        font-family:"Helvetica";
        font-weight: 400;
        font-size: 40px !important;
        line-height: 50px !important;
        text-align: center;
    }
    span.font-size-for-mbl{
        font-size: 45px !important;
    }
    .pixi-home-para-black-cent{
        padding: 20px !important;
    }
    .padd-left-right{
        padding: 0px 0px;;
    }
}